@import "normalize";
@import "fonts";
@import "variables";

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  position: relative;
  height: 100%;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efefef;
}

.header {
  font-family: $font__secondary;
  color: #121212;
  margin: 0 auto;
  font-size: 40px; 
}

.wrapper {
  margin: 0 auto;
  padding-top: 30px;
}

.button {
  font-family: $font__main;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  &:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group {
  margin-bottom: 20px;
  label {
    font-family: $font__main;
    display: block;
    text-align: left;
    padding-bottom: 10px;
  }
  input {
    min-width: 200px;
    padding: 10px;
    font-family: $font__main;
    font-size: 12px;
    &:focus {
      outline: none;
      border: 1px solid #000;
    }
  }
}

.error {
  text-align: center;
  font-family: $font__main;
  color: red;
  margin-bottom: 20px;
}

.account-info {
  margin: 15px 0 20px;
}

@import "media";
